main{
    margin: 0 auto;
}
main>.content1{
    background-color: rgb(0, 0, 0);
    text-align:center;
    height: 400px;
    margin: 0px;
}
main>.content1>.content1-banner{
}
main>.content1>.content1-banner>.content1-con{
    margin: 0 auto;
}
main>.content1>.content1-banner>.content1-con>h1{
    margin: 0;
    font-size: 50px;
    padding: 30px 0px; 
    color: white;
}
main>.content1>.content1-banner>.content1-con>h2{
    color: red;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}
main>.content1>ul{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 200px;
    margin: 0 auto;
    padding: 20px 0px;
    top: 60px;
    border-radius: 15px;
    border: 1px solid;
}
main>.content1>ul>li{
    color: rgb(0, 0, 0);
    margin: 0 auto;
    list-style: none;
    padding: 0;
    font-size: 20px;
}

main>.content1>ul>h3{
    color: rgb(0, 0, 0);
}
/* content2 */
main>.content2{
    margin-top: 170px;
    text-align: center;
}
main>.content2>ul>h3{
    font-size: 35px;
}

main>.content2>ul>li{
    list-style: none;
    border: 1px solid;
    border-radius: 10px;
    padding: 15px;
}

main>.content2>ul{
    display: grid;
    padding: 30px;
    margin: 5.0px auto;
    gap: 10px;
    height: 150px;
    width: 650px;
    grid-template-columns: 1fr 1fr 1fr;
}

main>.content2>ul>img{
    height: 60px;
    padding:0;
    margin: 0;
    top: -70px;
    left: 540px;
    position: relative;
}
/* 여기는 content3 */
main>.content3{
    text-align: center;
    height: 250px;
}
main>.content3>ul>li{
    list-style: none;

}

main>.content3>ul{
    padding: 0;
    margin: 60px;
}

main>.content3>h3{
    font-size: 35px;
}

/* content4 */
main>.content4{
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.384);
}

main>.content4>ul>li{
    list-style: none;
}
main>.content4>ul>li:nth-child(2),
main>.content4>ul>li:nth-child(4){
    color: red;
}
/* content5 */
main>.content5{
    margin-top: 40px;
    text-align: center;
}
main>.content5>ul{
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}
main>.content5>ul>li{
    list-style: none;
}

main>.content5>ul>li>a>button{
    padding: 10px;
    border-radius: 10px;
}