* {
    font-size: 0.9rem;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    display: block;
    height: 100%;
    line-height: 35px;
    text-align: center;
    width: 100%;
    max-width: 80px;
    font-size: .8rem;
}

body {
    margin: 0 auto;
    padding: 0;
}

form {
    width: 1500px;
    margin: 50px auto;
    background-color: rgb(197, 197, 197);
}

form>.row {
    margin: 50px auto;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    height: 40px;
    width: 1300px;
}

form>.row>label {
    display: block;
    min-width: 85px;
    height: 100%;
    line-height: 40px;
    text-align: center;
}

form>.row>input[type="text"],
form>.row>input[type="password"],
form>.row>select {
    width: 300px;
    height: 100%;
    outline: none;
    border-radius: 0;
    border: 1px solid gray;
    padding: 0 3px;
}

form>.row.header {
    height: 15px;
    border: 1px solid;
    margin: 0;
    background-color: black;
}

form>.row.title {
    justify-content: center;
}

form>.row.title>h4 {
    font-size: 1.5rem;
}

form>.row.line {
    border: 0;
    height: 1px;
    background-color: gray;
    margin: 10px 0;
    margin-bottom: 25px;
}

form>.row.agreement {
    height: 15px;
}

form>.row.agreement>label {
    height: 100%;
    line-height: 12px;
}

form>.row.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

form>.row.btn-group>button,
form>.row.btn-group>input[type="submit"] {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 1px solid gray;
    outline: none;
    cursor: pointer;
}
