/* 배너 스타일 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

/* 배너 */
#hight-header {
    width: 100%;
    height: 200px; /* 배너 높이 */
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    text-align: center;
    border: 1px solid;
}

.banner>#welcom{
    margin: 0 auto;
    font-size: 30px;
    font-family: "Do Hyeon", serif;
}
.banner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bannerimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 닫기 버튼 */
.del {
    position: absolute;
    top: 5px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* 네비게이션 바 */
#row-header {
    position: relative;
    left: 0;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 15px 0;
    transition: top 0.3s ease-in-out; /* 네비게이션 올라가는 애니메이션 */
    
}

.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    
}

.nav li {
    list-style: none;
    display: inline-block;
    position: relative;
    text-align: center;
}
.nav .me:nth-child(2)::after,
.nav .me:nth-child(3)::after,
.nav .me:nth-child(4)::after
{
    position:absolute;
    content:"";
    top:0;
    left: -10px;
    width:1px;
    height:30px;
    background-color:#333;
}
.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}

/* 사용자 메뉴 */
.user1 {
    margin-left: 750px;
    display: flex;
    gap: 10px;
    
}
.user1>li>button{
    background-color:white;
    border-radius: 10px;
    height: 40px;    
}
.user1>li>button>a:hover{
    color: powderblue;
}
.user1>li>button>a{
    color: black;
    
}
#callme{
    width: 40px;
    height: 40px;
    color: black;
}
/* -------------------------------- */

/* 전체 부분 */

.one{    
    position: relative;
    margin: 0px auto;
    
    text-align: center;
    height: 1250px;
    min-height: 100%;
    padding-bottom: 150px;
    transition: margin-top 0.3s ease-in-out;
    background-color: black;
}


main>section{
    height: auto;
    min-height: 100%;
    position: relative;
    width: 1200px;
    margin: 200px auto;
    text-align: center;
    padding-bottom: 150px;
}


.one>.carousel>.videocontent>.title>h1{
    background-color: black;
    margin: 0px;
    font-size: 50px;
    color: white;
    
}

/* 배너부분 */
.one>.carousel{
    margin: 0px auto;
    margin-top: 110px;
    height:auto;
    overflow: hidden;
}
.one>.carousel>.videocontent{
    background-color: black;
    width: 1500px;
    height: 400px;
    margin: 0px auto;
    text-align: center;
    padding: 0px;
}
.one>.carousel>.videocontent>.vche{
    margin: 0px;
    padding: 20px;
    width:1200px;
    height: 60px;
    color:white;
    text-align: left;
    font-size: 40px;

    list-style: none;
    
}
.one>.carousel>.videocontent>.vc{
    background-color: black;
    height: 200px;
    width: 1200px;
    margin: 0px;
    padding: 0px 5px;
    list-style: none;
    overflow: hidden;
    color: white;
    text-align: left;
    /* margin-top: 250px; */
    font-size: 30px;
    
}


.one>.carousel>iframe{
    margin-top: 30px;
}

/* 내용 슬라이드 부분 */
main{
    height: 100%;

}
main>section{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 1400px;
    height: 2000px;
}
main>section>.content1{
    width: 100%;
    height: 700px;
    margin: 0 auto;
    justify-content: center;
}
main>section>.content1>.slider-container{
    width: 100%;
    align-items: center;
    height: 100%;
    perspective: 500px;
    margin: 0 auto;
    transform-style: preserve-3d;
    /* perspective속성은 실제 사용자가 멀리있는 사물을 바라볼떄 원금감을 표현하는 속성 */
}
main>section>.content1>.slider-container>.slide {
    transition:0.5s;
    width:300px;
    height:500px;

    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%)
  }

  main>section>.content1>.slider-container>.slide>img{
    width: 300px;
    height: 500px;
    border-radius: 20px;
  }

  main>section>.content1>.slider-container>.slide:nth-of-type(1),
  main>section>.content1>.slider-container>.slide:nth-of-type(2){  
    transform:translate(calc(-50%*5.1),-50%) translateZ(-100px);
  }
  main>section>.content1>.slider-container>.slide:nth-of-type(3){
    transform:translate(calc(-50%*3.1),-50%) translateZ(-50px);
  }
  main>section>.content1>.slider-container>.slide:nth-of-type(4){
     transform:translate(calc(-50%*1.1),-50%) translateZ(50px) ;
  }
  main>section>.content1>.slider-container>.slide:nth-of-type(5){
      transform:translate(calc(-50%*-0.9),-50%) translateZ(-50px) ;
  }
  main>section>.content1>.slider-container>.slide:nth-of-type(6),
  main>section>.content1>.slider-container>.slide:nth-of-type(7){
    transform:translate(calc(-50%*-2.9),-50%) translateZ(-100px) ;
  }

  main>section>.content1>.buttons{    
    transform:translate(-50%);
    margin: 20 auto;
    margin-left: 700px;

  }

  main>section>.content1>.buttons>.prev{
    border: none;
    background-color: #fff;
    font-size: 35px;
    text-align: center;
}

main>section>.content1>.buttons>.prev:hover{
    color: #999999;
}



main>section>.content1>.buttons>.next{
    border: none;
    margin: 0 25px;
    background-color: #fff;
    font-size: 35px;
  }

  main>section>.content1>.buttons>.next:hover{
    color: #999999;
 }
/* 여기는 더보기란 추가 */
 main>section>.content1>.content1-title{
    position: relative;
    
 }

  main>section>.content1>.content1-title>.movietitle{
    display: flex;
    
  }
 main>section>.content1>.content1-title>.movietitle{
    padding: 0;
    margin: 10px;
    list-style: none;
    font-size: 60px;
    display: flex;
    justify-content: space-between;
 }
 main>section>.content1>.content1-title>.movietitle>.pluse>li{
    list-style: none;
 }
 main>section>.content1>.content1-title>.movietitle>.pluse>li>a{
    text-decoration: none;
    font-size:20px;
    color: #333;
 }
/* 인기 동아리와 인기 리뷰들 */
main>section>.content2{
    padding: 0;
    margin: 0 auto;
    margin-top: 200px;

}
main>section>.content2>hr{
    border-width:5px 0 0 0; 
    border-style:dashed; 
    border-color: #ddd5d5;
}
main>section>.content2>p{
    text-align: center;
    font-size: 40px;
}
main>section>.content2>#hotplay>.enjoy_banner{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    justify-content: center;
}
main>section>.content2>#hotplay>.enjoy_banner>li{
    list-style: none;
    width: 250px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    /* margin-right: 35px; */
    text-align: center;
    align-items: center;
}
main>section>.content2>#hotplay>.enjoy_banner>li>a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 20px;
}

main>section>.content2>#hotplay {
    display: flex; 
    overflow: hidden;
}
main>section>.content2>#hotplay>.enjoy_banner{
    display: flex;
    width: 100%;
    animation: roll 10s linear infinite;
}

main>section>.content2>#hotplay>.enjoy_banner>.joy1:last-child {
    animation-delay: 10s;
  }

  main>section>.content2>#hotreiw>.content2-title{
    position: relative;
    margin: 30px;
 }

 main>section>.content2>#hotreiw>.content2-title>.funny{
    display: flex;
    padding: 0;
    margin: 10px;
    list-style: none;
    font-size: 60px;
    display: flex;
    justify-content: space-between;
 }
 main>section>.content2>#hotreiw>.content2-title>.funny>.pluse1>li{
    list-style: none;
 }
 main>section>.content2>#hotreiw>.content2-title>.funny>.pluse1>li>a{
    text-decoration: none;
    font-size:20px;
    color: #333;
 }
/* 웃긴 리뷰  */

main>section>.content2>#hotreiw{
    margin: 50px;
}
main>section>.content2>#hotreiw>ul>li{
    list-style: none;
    font-size: 30px;
    
    padding: 10px;
    text-align: left;
}
main>section>.content2>#hotreiw>p{
    font-size: 40px;
}

/* 푸터 부분 */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 100;
  }
  